/* Color palette  */
:root {
    --white: #ffffff;
    --gray: #67666d;

    --violent-violet-50: #fbf9fe;
    --violent-violet-100: #eceafd;
    --violent-violet-200: #d6d2fa;
    --violent-violet-300: #c1b8fa;
    --violent-violet-400: #a18ff6;
    --violent-violet-500: #8162f0;
    --violent-violet-600: #7141e6;
    --violent-violet-700: #622fd2;
    --violent-violet-800: #5127b0;
    --violent-violet-900: #442290;
    --violent-violet-950: #2a1465;

    --primary-color: var(--violent-violet-950);
}

.fas.fa-chevron-down,
.fas.fa-chevron-up {
  color: var(--violent-violet-950);
}

#firstclassenglish-popup {
    background-color: #f1f1f1;
    width: 300px;
    height: 419px;
    z-index: 9999;
    overflow: auto;
    padding: 20px;
    user-select: none;
    color: var(--primary-color);
}

#firstclassenglish-popup h3 {
    color: var(--white);
    font-size: 20px;
    text-align: center;
    background-color: var(--violent-violet-900);
    height: 34px;
    border-radius: 20px;
    margin: 4px 4px 14px 4px;
    padding-top: 2px;
}

#firstclassenglish-popup table {
    border-collapse: collapse;
    border: none;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

#firstclassenglish-popup .hidden {
    display: none;
}
  
#firstclassenglish-popup .show {
    display: table-row;
    animation: fadeIn 0.5s ease forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

#firstclassenglish-popup th:nth-child(1) {
    width: 46%;
}

#firstclassenglish-popup th:nth-child(2) {
    width: 44%;
}

#firstclassenglish-popup th:nth-child(3) {
    width: 10%;
}

#firstclassenglish-popup th {
    background-color: var(--violent-violet-700);
    padding: 4px !important;
    color: var(--white);
    border-bottom: 3px solid white; 
    text-align: center;
    font-size: 15px;
    border-collapse: collapse;
    border: none;
    height: 42px;
}
  
#firstclassenglish-popup td {
    text-align: center;
    padding: 0px !important;
    border-collapse: collapse;
    border: none;
    height: 35px;
}

#firstclassenglish-popup .main-even-row {
    background-color: var(--violent-violet-200);
    cursor: pointer;
    color: var(--violent-violet-950);
    border-top: 2px solid white; 
    transition: background-color 0.3s ease;
}

#firstclassenglish-popup .main-even-row:hover {
    background-color: #aca4f4;
}

#firstclassenglish-popup .main-odd-row {
    background-color: var(--violent-violet-300);
    cursor: pointer;
    color: var(--violent-violet-950);
    border-top: 2px solid white; 
    transition: background-color 0.3s ease;
}

#firstclassenglish-popup .main-odd-row:hover {
    background-color: #9f92f7;
}

#firstclassenglish-popup .even-row {
    background-color: var(--violent-violet-50);
    color: var(--gray);
    padding: 6px;
}
  
#firstclassenglish-popup .odd-row {
    background-color: var(--violent-violet-100);
    color: var(--gray);
    padding: 6px;
}

#firstclassenglish-popup .power-bar-container {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 300px;
    font-size: 13px;
    height: 36px;
}

#firstclassenglish-popup .power-bar-topic {
    width: 64px;
    background-color: var(--violent-violet-200);
    height: 20px;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    font-size: 12px;
    margin: 8px 6px 8px 20px;
}

#firstclassenglish-popup .power-bar-background {
    width: 100px;
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #d6d6d6;
    margin: 12px;
}
  
#firstclassenglish-popup .power-bar {
    height: 100%;
    background-color: var(--violent-violet-500);
    width: 0%;
}